Repository netboxlabs/diode-netbox-plugin, pull requests merged in 2024-10, with the labels that each got.

#40 feat: manual users provisioning
  README.md
  docker/netbox/configuration/plugins.py
  docker/netbox/plugins_test.py
  netbox_diode_plugin/__init__.py
  netbox_diode_plugin/forms.py
  netbox_diode_plugin/migrations/0001_initial.py
  netbox_diode_plugin/migrations/0004_rename_legacy_users.py
  netbox_diode_plugin/plugin_config.py
  netbox_diode_plugin/templates/diode/setup.html
  netbox_diode_plugin/tests/test_forms.py
  netbox_diode_plugin/tests/test_plugin_config.py
  netbox_diode_plugin/tests/test_views.py
  netbox_diode_plugin/urls.py
  netbox_diode_plugin/views.py
Labels: markdown, python

#41 ENG-3602 Initial manifest and trigger
  .github/workflows/manifest-modified.yaml
  netbox-plugin.yaml
Labels: github-actions

#42 chore: update README
  README.md
Labels: markdown

#45 chore: run lint and tests workflow on plugin code changes only
  .github/workflows/lint-tests.yml
Labels: github-actions

#46 chore: add GitHub issue templates
  .github/ISSUE_TEMPLATE/01-feature_request.yaml
  .github/ISSUE_TEMPLATE/02-bug_report.yaml
  .github/ISSUE_TEMPLATE/03-documentation_change.yaml
  .github/ISSUE_TEMPLATE/config.yaml
Labels: github-templates
