Repository netboxlabs/diode-netbox-plugin, pull requests merged in 2025-05, with the labels that each got.

#102 chore: gha - skip coverage comment step on fork PRs
  .github/workflows/lint-tests.yml
Labels: github-actions

#103 🚀 release
  .github/workflows/lint-tests.yml
  netbox_diode_plugin/api/applier.py
Labels: python, github-actions

#106 feat: client credentials management
  .gitignore
  README.md
  docker/docker-compose.yaml
  docker/netbox/env/netbox.env
  docker/oauth2/secrets/.gitkeep
  netbox_diode_plugin/__init__.py
  netbox_diode_plugin/client.py
  netbox_diode_plugin/diode/clients.py
  netbox_diode_plugin/forms.py
  netbox_diode_plugin/models.py
  netbox_diode_plugin/navigation.py
  netbox_diode_plugin/plugin_config.py
  netbox_diode_plugin/tables.py
  netbox_diode_plugin/templates/diode/client_credential_add.html
  netbox_diode_plugin/templates/diode/client_credential_delete.html
  netbox_diode_plugin/templates/diode/client_credential_list.html
  netbox_diode_plugin/templates/diode/client_credential_secret.html
  netbox_diode_plugin/templates/diode/htmx/delete_form.html
  netbox_diode_plugin/tests/test_diode_clients.py
  netbox_diode_plugin/urls.py
  netbox_diode_plugin/views.py
Labels: markdown, python, internal

#107 🚚 release
  .gitignore
  README.md
  docker/docker-compose.yaml
  docker/netbox/env/netbox.env
  docker/oauth2/secrets/.gitkeep
  netbox_diode_plugin/__init__.py
  netbox_diode_plugin/client.py
  netbox_diode_plugin/diode/clients.py
  netbox_diode_plugin/forms.py
  netbox_diode_plugin/models.py
  netbox_diode_plugin/navigation.py
  netbox_diode_plugin/plugin_config.py
  netbox_diode_plugin/tables.py
  netbox_diode_plugin/templates/diode/client_credential_add.html
  netbox_diode_plugin/templates/diode/client_credential_delete.html
  netbox_diode_plugin/templates/diode/client_credential_list.html
  netbox_diode_plugin/templates/diode/client_credential_secret.html
  netbox_diode_plugin/templates/diode/htmx/delete_form.html
  netbox_diode_plugin/tests/test_diode_clients.py
  netbox_diode_plugin/urls.py
  netbox_diode_plugin/views.py
Labels: markdown, python, internal
